---
import Layout from '@layouts/Layout.astro'
---

<Layout
  metadata={{
    title: 'Acerca de AJPC',
    description: 'Información sobre la Academia Juvenil de Programación',
  }}
>
  <h1>Acerca</h1>
</Layout>
