---
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <h1 class="title">Academia Juvenil de <br /> Programaci贸n Competitiva </h1>

  <p>
    La <strong class="highlight"
      >Academia Juvenil de Programaci贸n Competitiva</strong
    > es un proyecto educativo <strong class="highlight">gratuito</strong> que busca
    fomentar el inter茅s por la programaci贸n  y el pensamiento l贸gico  en estudiantes
    de ense帽anza b谩sica y media.
  </p>

  <p>
    El objetivo es que los j贸venes desarrollen habilidades de an谩lisis y
    resoluci贸n de problemas a trav茅s de la programaci贸n, prepar谩ndolos para
    participar en competencias como la <strong class="highlight"
      >Olimpiada Chilena de Inform谩tica </strong
    > y otros torneos nacionales e internacionales.
  </p>
</Layout>

<style>
  .title {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
  }

  @media screen and (min-width: 1024px) {
    .title {
      font-size: 3rem;
    }
  }

  .image-container {
    display: grid;
    place-items: center;
    background-color: var(--image-background-color);
    max-width: 35rem;
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
  }

  .image {
    padding: 1rem;
    width: 100%;
  }
</style>
