<footer class="footer">
  <p>FOOTER</p>
</footer>

<style>
  .footer {
    background-color: var(--foreground-color);
  }

  @media screen and (min-width: 768px) {
    .footer {
      grid-column: span 2;
    }
  }
</style>
